.nav-container {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-family: 'Great Vibes', cursive;
    }

    button {
        background-color: transparent;
        font-size: 1.2rem;
        border: none;
        color: #ffe8d6;
        cursor: pointer;
        padding: 0.4rem;
        transition: all 0.2s ease;
        &:hover{
            color: #ffc300;
        }
        
    }

}