.player-container {
    min-height: 20vh;
    background-color: rgb(242, 222, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.time-control {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
        width: 100%;
        padding: 1rem 2rem;
    }
    p {
        padding: 1rem;
    }
}

.play-control {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    svg {
        cursor: pointer;
    }
}