.player-container {
    background-color: #2ec4b6;


    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.time-control {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
        width: 100%;
        padding: 1rem 0rem;
    }
    p {
        padding: 1rem;
    }
}

.play-control {
    color: #000814;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
        cursor: pointer;
    }
}