* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h1, h2, h3, h4 {
  color: #ffe8d6;
}

body {
  background-color: #000814;
  font-family: 'Montserrat', sans-serif;
}

.App {
  transition: all 0.4s ease;
}

.app-active-library {
  margin-left: 24%
}


@import "./player";
@import "./song";
@import "./library";
@import "./nav"